# Load Data

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure the data into a data frame

In [8]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [14]:
y = pd.DataFrame(data=iris.target, columns = ['species'])
y.head()

   species
0        0
1        0
2        0
3        0
4        0

In [17]:
import pandas as pd 
data = pd.DataFrame({'sepal length':iris.data[:,0], 'sepal width':iris.data[:,1], 'petal length':iris.data[:,2], 'petalWidth':iris.data[:,3], 'species':iris.target})
data.head()

   sepal length  sepal width  petal length  petalWidth  species
0           5.1          3.5           1.4         0.2        0
1           4.9          3.0           1.4         0.2        0
2           4.7          3.2           1.3         0.2        0
3           4.6          3.1           1.5         0.2        0
4           5.0          3.6           1.4         0.2        0

# Descriptive analysis on the data frame

In [13]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [ ]:
data['species'].value_counts()